header {
    background-color: black; color: gold; text-align: center;
}

main {
    text-align: center; background-color:darkgrey;
}
main section{
    background-color:grey;
}
footer{
    background-color: black; color:gold; text-align:center;
}

footer a{
    color:gold;